h1 {
  color: #919191;
  font-size: 70pt;
  text-align: center;
  font-family: impact;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  text-align: right;
  font-family: arial;
  font-style: italic;
  font-size:20pt;
  margin-right:130px;
  margin-top: 0px;
  color: #3F3F3F;
}

.centered {
  text-align: center;
  margin-bottom: 10px;
}

.margin {
  margin-right: 140px;
  margin-left: 140px;
}

.lick {
  margin-right: 100px;
  margin-left: 100px;
  color: #B6001C;
  font-style: oblique;
  font-size: 30pt;
  margin-top: 0px;
}

p {
  text-align: center;
  font-family: arial;
  font-size: 18pt;
  color: #3F3F3F;
}
