body {
  text-align: center;
}

.tapedeck{
  background-image: url("casetta.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 500px;
  height: 400px;
  margin: 0px auto;
}

.spool {
  width: 75px;
  margin-top: 177px;
}

.rotation {
  width: 75px;
  margin-top: 177px;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.right{
  margin-left: 118px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
