body{
  background-color: #f6f6f6;
  font-family: "Montserrat";
  font-size: 25px;
  text-align: center;
}


h1{
  font-family: "Didot";
  text-align: center;
  font-size: 60px;
  letter-spacing: 5px;
}

.navbar{
  display:flex;
  flex direction: row;
  justify-content: center;
  font-family: "Montserrat";
  color: red;
}

.navitem {
  width: 200px;
  text-align: center;
}

.currentpage{
  color: red;
  text-decoration: none;
}

.graylinks{
  color: 	#A9A9A9;
  text-decoration: none;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text{
  text-align: center;
  font-style: italic;
  font font-size: 30px;
}

.ninegrid{
text-align: center;
}

.vibes{
text-align: center;
}


.gif{
  text-align: center;
}
