body{
  margin-top: 50px;
  background: radial-gradient(circle, #878585, #515151);
  font-family: Didot;
  font-size: 30px;
  color: white;
  text-align: center;
}

.albumname{
  font-style:italic;
  color: #ffffb2;
}

.flower{
}

.rotation{
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
