body {
  margin: 0px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  height: 100px;
  background-color: #BBBBBB;
}

.navitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100px;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  border-left-width: 0px;
}

.navhome {
  width: 200px;
  border-left-width: 2px;
}

.navthis {
  background-color: white;
}

a {
  color: red;
  text-decoration: none;
  background-color: yellow;
}

.content {
  margin: 10px;
  font-size: 30px;
}
