
.comments-top-container {
  border: 2px solid #f2eec1;
  width: 600px;
  padding: 10px;
}
.comments-top-header {
  font-size: 20px;
  padding: 10px;
}
.comments-empty {
  font-size: 16px;
  color: #888888;
}

.comment-container {
  position: relative;
  background-color: #f2eec1;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.comment-name {
  background-color: #f7f5e1;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
}
.comment-text {
  background-color: #f7f5e1;
  padding: 5px;
  font-size: 16px;
}
.comment-delete {
  position: absolute;
  text-decoration: none;
  top: 3px;
  right: 5px;
  color: red;
}
.comment-delete:hover {
  cursor: pointer;
}
.comment-delete:after {
  content: "\2717";
}

.comment-form-hidden {
  display: none;
}
