body{
  margin: 0px;
  background-color: lightblue;
  opacity; .2;
  background-image: url("lady.jpg")
}

.break{
  margin: 1000px;
}

.caption{
  position: fixed;
  top: 200px;
  left: 950px;
  color: rgb(255,255,255);
  opacity: .4;
  font-family: American Typewriter;
  letter-spacing: 4;
  font-size: 45px;
  font-weight: lighter;

  flex-direction: column;
  text-align: right;
}
