body {
  text-align: start;
  font-family: Helvetica;
  background-color: #f58b57;
  white-space: nowrap;
}
h1 {
  font-size: 100;
  margin-left: 100;
}

h2 {
  font-size: 55;
  margin-left: 40;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f58b57
}

.links{
  column-count: 2;
  column-gap: 80px;
}


h3 {
  font-weight:bolder;
  font-size: 34;
  margin-left: 80;
  text-align: left;
}
