
body {
  margin: 9px;
  background-color:#ff5050;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  height: 100px;
  background-color: lightgrey;
}

.navitem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100px;
  border-width: 3px;
  border-style: solid;
  border-left-width: 3px;

  font-family: 'Playfair Display', serif;
  font-weight:bold;

}

.navhome {
  width: 200px;
  border-left-width: 2px;
}

.navthat {
  background-color: #ff5050;
}

a {
  color: black;
  text-decoration:none;
  background-color:;
  font-weight: bold;
  font-size: 20px;
}

.image1{
  
}
.contenttitle {
  font-family: 'Open Sans', sans-serif;
  margin: 10px;
  font-size: 30px;
  font-weight: bolder;
}
.content{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 15px;
}
