body {
  font-size: 30px;
}
.bold {
  font-weight: bold;
}
.hidden {
  display: none;
}
button {
  font-size: 20px;
}

@media (max-width: 800px) {
  /* small screens */
  body {
    font-size: 20px;
  }
  .large {
    display: none;
  }
}

@media (min-width: 801px) {
  /* large screens */
  .small {
    display: none;
  }
}
