body{
  font-family: 'Playfair Display SC', serif;
  background-color: black;
  text-align: center;
  font-size: 20px;
  color: white;
  margin-left: 350px;
  margin-right: 350px;
}

h1{
  font-weight: lighter;
  font-size: 60px;
}

.description{
  padding: 20px;
}

.italics{
  font-style: italic;
}

.hyperlink{
  font-style: italic;
  text-decoration: underline;
  color: white;
}
