body{
  font-size: 30px;
  font-family: Proxima Nova, sans-serif;
  text-align: center;
}

/* initial */
.thoughts{
  font-style: italic;
  color: pink;
  text-decoration: underline;
  margin: 300px;
}

.hide{
  display: none;
}

.reveal{
  text-align: center;
  color: white;
  text-decoration: none;
}

.pink{
  background-color: #fff0f2;
  color: black;
}

.buttons{
  margin: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px;
  border-width: 5px;
  border-style: dashed;
  border-color: white;
  width: 200px;
}

.info{
  font-size: 20px;
  color: black;
}

.robot{
  height: 300px;
}
